:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0 auto;
  padding-top: 100px;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  opacity: 0.7;
}

h5 {
  font-size: 18px;
  color: black;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: grey;
}
footer {
  border-top: solid 1px #6c63ff;
  margin-top: 70px;
  padding: 50px 0;
  text-align: center;
}

footer h5 {
  margin-bottom: 25px;
}

footer h5 a {
  padding: 20px 0;
  text-decoration: none;
  color: var(--primary-color);
}

footer h5 a:hover {
  color: black;
}

footer i {
  font-size: 24px;
  margin: 0 15px;
  padding: 13px 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 30px;
}

footer i:hover {
  color: var(--secondary-color);
  background-color: #6c63ff;
}

.container-fluid {
  margin: 60;
}

.container {
  text-align: center;
}

.projects {
  padding: 50px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .contentContainer {
    padding: 10px 30px;
  }
  #small-image {
    display: none;
  }

  .projects {
    padding: 0 20px;
  }
  #information {
    width: 100%;
  }

  p,
  h2 {
    text-align: center;
  }

  .launch-buttons {
    display: inline block;
    text-align: center;
  }

  #thumbnail {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 45px;
    margin-top: 15px;
  }

  h2 {
    font-size: 38px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
    margin-top: 15px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .email-link {
    font-size: 21px;
  }
}
